@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: rgb(121, 118, 118);
  /* width: 260px; */
  height: 100vh;
  font-family: 'PT Serif', serif;
  font-size: 10px;
  transition: transform 0.3s ease-in;
}

.sidebar nav {
  padding: 180px 45px 180px 45px;
}

.sidebar nav li {
  list-style: none;
  font-weight: bold;
  font-size: 20px;
  padding: 25px;
}

.sidebar nav li a {
  text-decoration: none;
  color: aliceblue;
}

.main {
  /* background-color: yellow; */
  width: 85vw;
  font-family: "PT Serif", serif;
  margin: 10px;
}

.container {
  display: flex;
}

.infocontainer {
  /* background-color: rebeccapurple; */
  height: 55vh;
  width: 70vw;
  margin: 160px auto;
  display: flex;
  justify-content: space-around;
  text-align: justify;
}

.infocontainer p {
  font-weight: 600;
}

.infocontainer ul {
  margin-left: 20px;
}

.infocontainer h1 {
  font-weight: bolder;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

mark {
  background-color: black;
  color: aquamarine;
}

.devInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Source Code Pro", monospace;
}

.hello {
  font-size: x-large;
  font-weight: 600;
}

.name {
  font-size: xx-large;
  font-weight: bolder;
  font-style: italic;
  font-family: "PT Serif", serif;
}

.about {
  font-size: larger;
}

.moreabout {
  margin-top: 20px;
  font-size: smaller;
  font-family: "PT Serif", serif;
}

.buttons {
  margin-top: 30px;
}

.btn {
  padding: 9px 14px;
  border: 2px solid black;
  border-radius: 22px;
  color: black;
  background-color: aquamarine;
  font-weight: bold;
  font-size: 13px;
  margin: 0 -5px 10px;
  cursor: pointer;
}

.resume {
  width: 155px;
}

.btn:hover {
  background-color: black;
  color: aquamarine;
}

.devPic img {
  width: auto;
  height: auto;
}

/********** Contact Form starts **********/
.contactform {
  font-family: 'PT Serif', serif;
  padding: 90px 40px 90px 40px;
  margin: 0 100px;
}

.contactform h1 {
  font-family: monospace;
  padding: 12px 0;
}

.contactform form div {
  padding: 15px 0 0;
  display: flex;
  flex-direction: column;
}

.contactform form div input,
textarea {
  width: 26vw;
  border-radius: 5px;
  margin: 6px 0 0 0;
  padding: 3px;
  font-size: 15px;
}

#form-check {
  display: flex;
  flex-direction: row;
}

#form-check input {
  width: 24px;
  margin: 5px 10px 3px 0px;
  border-radius: 5px;
}

#emailHelp {
  font-size: 10px;
  color: crimson;
  padding: 10px 0 20px 0;
}

/* Contact form ends */

.footer {
  padding-top: 30px;
  /* width: 260px; */
  font-family: 'PT Serif', serif;
  font-size: 10px;
}

.sidebarGo {
  transform: translate(-260px, 0px);
  position: absolute;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
}

.cross {
  margin-left: 175px;
}

/********** For large devices **********/
@media (max-width: 1200px) {}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {}

/********** Extra small devices only **********/
@media (max-width: 767px) {}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

  .sidebar {
    position: absolute;
  }

  .infocontainer {
    margin-left: 50px;
  }

  .devPic img {
    width: 10rem;
    height: 20rem;
  }

  .contactform {
    margin: 0 20px;
  }

  .contactform form div input,
  textarea {
    width: 60vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
    font-size: 15px;
  }
}